[submodule "src/flamenco-manager/vendor/github.com/armadillica/gossdp"]
	path = src/flamenco-manager/vendor/github.com/armadillica/gossdp
	url = git@github.com:armadillica/gossdp.git
	branch = logrus-compat
