/jwtkeys/**/*.pem
*.last-modified
/latest-image/
/db/
/mongodb-logs/
/vendor/
/flamenco-manager
/flamenco-manager-static*
/flamenco-manager.yaml*
/test_*.json
/dist/flamenco-manager
/dist/flamenco-manager-*.sha256
/dist/flamenco-manager-*linux*
/dist/flamenco-manager-*windows*
/dist/flamenco-manager-*darwin*
/dist/mongodb-linux-*
/dist/mongodb-osx-*
/dist/mongodb-windows-*
/task-logs/

/azure_credentials.json
