/bin/
/pkg/
/src/[a-eg-z]*
/src/flamenco-manager/flamenco-manager
/src/flamenco-manager/flamenco-manager.yaml
/src/flamenco-manager/test_*.json
/src/flamenco-manager/static/latest-image.*
/src/flamenco-manager/docker/flamenco-manager
/src/flamenco-manager/docker/flamenco-manager-*.sha256
/src/flamenco-manager/docker/flamenco-manager-*linux*
/src/flamenco-manager/docker/flamenco-manager-*windows*
/src/flamenco-manager/docker/flamenco-manager-*darwin*
