html, body {
    font-family: Noto, Ubuntu, sans-serif;
    color: white;
    background-color: #4da7cd;
    text-shadow: 0.2ex 0.2ex 0.1ex rgba(0, 0, 0, 0.2);
}

a, a:link { color: #d0f0f7; }
a:visited { color: #d2d0f7; }
a:hover { color: #d0f7eb; }
a:active { color: #f7d0d2; }

h1 img {
    width: auto;
    height: 2em;
    float: left;
}

input {
    color: black;
}

@media (min-width: 768px)
.masthead {
    height: 100%;
    padding: 0;
}
.masthead {
    display: table;
    width: 100%;
    padding: 100px 0;
    text-align: center;
    color: #fff;
}
.masthead .intro-body {
    display: table-cell;
    vertical-align: middle;
}

@media (min-width: 768px)
.masthead .intro-body .brand-heading {
    font-size: 100px;
}
.masthead .intro-body .brand-heading {
    font-size: 50px;
}

#config section {
    margin-bottom: 30px;
}

.help-block {
    color: #eee;
    font-size: 90%;
}

.own-url-suggestion {
    /*border: 1px solid pink;*/
    padding: 3px;
    cursor: pointer;
}

/* Editable table stuff */
.table-editable {
    position: relative;
}
.table-editable .glyphicon {
    font-size: 20px;
}
.table-editable td {
    position: relative;
}
.table-remove {
    color: #700;
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 0;
}
.table-remove:hover {
    color: #f00;
}

.table-add {
    color: #070;
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 0;
}
.table-add:hover {
    color: #0b0;
}

.table-editable td:focus {
    background-color: white;
    color: black;
}

.table-editable td:hover {
    cursor: pointer;
}
