{{template "layout" .}}

{{define "title"}}Flamenco Manager - Setup{{end}}

{{define "extrahead"}}
    <link rel='stylesheet' href='/static/websetup/websetup.css'>
    <script src='/static/vuejs/vue{{if ne .Config.Mode "develop"}}.min{{end}}.js'></script>
    <script src="/static/websetup/js-yaml.min.js"></script>
    <script src="/static/websetup/ace/ace.js"></script>
    <script src="/static/websetup/websetup.js" async></script>
    {{ .VueTemplates }}
{{end}}

{{define "simplepage"}}
<div id='linking' class="py-4 border-bottom mb-5">
    <h1 class="border-bottom pb-4 mb-4">Flamenco Setup</h1>

    <h2>Server</h2>
    <div id='link-check-in-progress'>Link check in progress, hold on tight…</div>
    <div id='link-check-result'></div>

    <form id='link-form' style='display: none' onsubmit='linkButtonClicked(); return false;'>
        <div class="form-group pt-3">
            <label for='link-server-url'>URL of Flamenco Server to connect to:</label>

            <div class="d-flex">
                <input id='link-server-url' class="form-control w-50" name='server' placeholder='Server URL to link to' value='{{.Config.FlamencoStr}}'>
                <button id='link-button' style='display: none' class='btn btn-primary ml-3' type='submit'>Link to Server</button>
                <a href='javascript:hideLinkButton()' class="btn btn-outline-secondary ml-3">Cancel</a>
            </div>
        </div>

        <div id='link-start-result'></div>
    </form>

    <p id='relink-action' style='display: none' class="pt-3">
        <a href='javascript:showLinkButton()' class="btn btn-outline-secondary">Link to Different Server</a>
    </p>
</div>

<div id='loading-settings' class='loader'></div>

<div id='vueApp'>
    <button id='appModeSwitch' type='button' class='btn btn-sm btn-outline-light mt-1'
        @click="switchAppMode()">{{`{{ appModeButtonText }}`}}</button>

    <setup-form v-if="vueAppMode == 'form'"
        :own_urls="own_urls"
        :config="config"
        :original_config="original_config"
        :mongo_choice="mongo_choice"
        @mongo_choice="mongo_choice=$event"
        @configupdated="saveConfig"
        ></setup-form>

    <yaml-editor v-if="vueAppMode == 'yaml'"
        :config="config"
        :original_config="original_config"
        @configupdated="saveConfig"
        @reloadconfig="loadSetupData()"
        ></yaml-editor>
</div>
{{end}}
