{{template "layout" .}}

{{define "title"}}Flamenco Manager - Setup{{end}}

{{define "extrahead"}}
    <link rel='stylesheet' href='/static/websetup/websetup.css'>
    <script src='/static/vuejs/vue{{if ne .Config.Mode "develop"}}.min{{end}}.js'></script>
    <script src="/static/websetup/js-yaml.min.js"></script>
    <script src="/static/websetup/ace/ace.js"></script>
    <script src="/static/websetup/websetup.js" async></script>
    {{ .VueTemplates }}
{{end}}

{{define "simplepage"}}
<div id='linking'>
    <h2>Link to Flamenco Server</h2>
    <div id='link-check-in-progress'>Link check in progress, please wait…</div>
    <div id='link-check-result'></div>
    <form id='link-form' style='display: none' onsubmit='linkButtonClicked(); return false;'>
        <div class="form-group">
            <label for='link-server-url'>URL of Flamenco Server to connect to:</label>
            <input id='link-server-url' class="form-control" name='server' placeholder='Server URL to link to' value='{{.Config.FlamencoStr}}'>
        </div>
        <button id='link-button' style='display: none' class='btn btn-default btn-primary' type='submit'>Link to this Flamenco Server</button>
        <div id='link-start-result'></div>
    </form>
    <p id='relink-action' style='display: none'><a href='javascript:showLinkButton()'>Link to another server</a></p>
</div>

<div id='loading-settings' class='loader'></div>

<div id='vueApp'>
    <button id='appModeSwitch' type='button' class='btn btn-sm btn-primary'
        @click="switchAppMode()">{{`{{ appModeButtonText }}`}}</button>

    <setup-form v-if="vueAppMode == 'form'"
        :own_urls="own_urls"
        :config="config"
        :original_config="original_config"
        :mongo_choice="mongo_choice"
        @mongo_choice="mongo_choice=$event"
        @configupdated="saveConfig"
        ></setup-form>

    <yaml-editor v-if="vueAppMode == 'yaml'"
        :config="config"
        :original_config="original_config"
        @configupdated="saveConfig"
        @reloadconfig="loadSetupData()"
        ></yaml-editor>
</div>
{{end}}
