{{template "layout" .}}
{{define "content"}}
<div id='restarting'>
    <h2>Restarting Flamenco Manager</h2>
    <p>Flamenco Manager will come back online soon. If that doesn't happen, please see the
    console/log output.</p>

    <p>Once restart is complete, visit the <a href='/'>Flamenco Manager Dashboard</a>.</p>

    <div id='progressbar'><div></div></div>
</div>
<script>
    function visit_index() {
        window.location.href = '/';
    }

    $(document).ready(function() {
        var $outer = $('#progressbar');
        var $inner = $outer.find('div');

        $inner.width('100%');
        window.setTimeout(visit_index, 3000);
    });
</script>
{{end}}
