{{template "layout" .}}
{{define "simplepage"}}
<div id='restarting' class="py-4">
    <h1>Restarting Manager...</h1>
    <p>Flamenco Manager will come back online soon. If that doesn't happen, please see the
    console/log output.</p>

    <p>Once restart is complete, you will be taken to the <a href='/'>Dashboard</a>.</p>

    <div class="d-flex align-items-center justify-content-center py-4">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <div id='progressbar'><div></div></div>
</div>
<script>
    function visit_index() {
        window.location.href = '/';
    }

    $(document).ready(function() {
        var $outer = $('#progressbar');
        var $inner = $outer.find('div');

        $inner.width('100%');
        window.setTimeout(visit_index, 3000);
    });
</script>
{{end}}
