{{template "layout" .}}
{{define "simplepage"}}
<div id='restart' class="py-4">
    <h1>Restart Manager</h1>
    <p>Are you sure you want to restart Flamenco Manager? This will disable the web setup and start
    normal Flamenco Manager operations. You can always restart setup mode by running
    "flamenco-manager -setup" or clicking "Setup" on the Dashboard header.</p>

    <p class="text-danger"><strong>Note: unsaved changes will be lost! Make sure you saved first.</strong></p>

    <form method="POST">
        <div class='d-flex py-3'>
            <a href="/setup" class='btn btn-outline-secondary mr-3 px-5'>« Back to Setup</a>
            <button type="submit" class='btn btn-primary px-5'>Restart to Normal Operation</button>
        </div>
    </form>
</div>
{{end}}
