{{define "vartable"}}
<!-- Source: https://codepen.io/ashblue/pen/mCtuA -->
<span class='table-add' title='Add another variable'>+</span>
<table class='table'>
    <tr>
        <th data-key='name'>Name</th>
        <th data-key='linux'>Linux</th>
        <th data-key='windows'>Windows</th>
        <th data-key='darwin'>macOS</th>
        <th></th>
    </tr>
    {{range $name, $var := .}}
    <tr>
        <td contenteditable='true'>{{$name}}</td>
        <td contenteditable='true'>{{$var.linux}}</td>
        <td contenteditable='true'>{{$var.windows}}</td>
        <td contenteditable='true'>{{$var.darwin}}</td>
        <td>
            <span class='table-remove' title='Remove this variable'>×</span>
        </td>
    </tr>
    {{end}}
    <!-- This is our clonable table line -->
    <tr class='d-none'>
        <td contenteditable='true'>variable-name</td>
        <td contenteditable='true'>value-on-linux</td>
        <td contenteditable='true'>value-on-windows</td>
        <td contenteditable='true'>value-on-macos</td>
        <td>
            <span class='table-remove' title='Remove this variable'>×</span>
        </td>
    </tr>
</table>
{{end}}
