html, body {
    font-family: Noto, Ubuntu, sans-serif;
    color: white;
    background-color: #507e92;
    text-shadow: 0.2ex 0.2ex 0.2ex rgba(0, 0, 0, 0.2);
}

a, a:link { color: #aef0ff; text-decoration: underline; }
a:visited { color: #e6fff2; }
a:hover { color: #d0f7eb; }
a:active { color: #f7d0d2; }

a.btn-default { color: black; }

h1 img {
    width: auto;
    height: 2em;
    float: left;
}

input {
    color: black;
}
code {
    color: inherit;
    padding: 0.2rem 0.4rem;
}

@media (min-width: 768px) {
    .masthead {
        height: 100%;
        padding: 0;
    }
    .masthead {
        display: table;
        width: 100%;
        padding: 100px 0;
        text-align: center;
        color: #fff;
    }
    .masthead .intro-body {
        display: table-cell;
        vertical-align: middle;
    }
}

@media (min-width: 768px) {
    .masthead .intro-body .brand-heading {
        font-size: 100px;
    }
    .masthead .intro-body .brand-heading {
        font-size: 50px;
    }
}

#config section {
    padding: 0.1em 0.2em;
    margin-bottom: 3em;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5d93aa+0,507e92+11,73b1e7+100&1+0,0+26 */
    background: -moz-linear-gradient(top, rgba(93,147,170,1) 0%, rgba(80,126,146,0.58) 11%, rgba(86,135,160,0) 26%, rgba(115,177,231,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(93,147,170,1) 0%,rgba(80,126,146,0.58) 11%,rgba(86,135,160,0) 26%,rgba(115,177,231,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(93,147,170,1) 0%,rgba(80,126,146,0.58) 11%,rgba(86,135,160,0) 26%,rgba(115,177,231,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5d93aa', endColorstr='#0073b1e7',GradientType=0 ); /* IE6-9 */
    border: 1px solid #477082;
}

h3 {
    margin: 0.2em 0 0.8em 0;
}

.note {
    padding: 0.4em 1em;
}

.help-block {
    color: #eee;
    font-size: 90%;
}

.own-url-suggestion {
    /*border: 1px solid pink;*/
    padding: 3px;
    cursor: pointer;
}

/* Editable table stuff */
.table-editable {
    position: relative;
}
.table-editable .glyphicon {
    font-size: 20px;
}
.table-editable td {
    position: relative;
}
.table-remove {
    color: #700;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    font-size: xx-large;
}
.table-remove:hover {
    color: #f00;
}

.table-add {
    color: #03ff03;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    font-size: xx-large;
}
.table-add:hover {
    color: #68ff68;
}

.table-editable td:focus {
    background-color: white;
    color: black;
}

.table-editable td:hover {
    cursor: pointer;
}

#progressbar {
    height: 30px;
    border: 1px solid white;
    padding: 3px;
}
#progressbar div {
    width: 10px;
    height: 100%;
    background-color: pink;
    transition: width linear 3s;
}
