
code {
    color: inherit;
    padding: 0.2rem 0.4rem;
}

.note {
    padding: 0.4em 1em;
}

.own-url-suggestion {
    margin: 0.5mm;
    cursor: pointer;
}

/* Editable table stuff */
.table-editable {
    position: relative;
}
.table-editable .glyphicon {
    font-size: 20px;
}
.table-editable td {
    position: relative;
}
.table-remove {
    color: #700;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    font-size: xx-large;
}
.table-remove:hover {
    color: #f00;
}

.table-add {
    color: #03ff03;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    font-size: xx-large;
}
.table-add:hover {
    color: #68ff68;
}

.table-editable td:focus {
    background-color: white;
    color: black;
}

.table-editable td:hover {
    cursor: pointer;
}

#progressbar {
    height: 30px;
    border: 1px solid white;
    padding: 3px;
}
#progressbar div {
    width: 10px;
    height: 100%;
    background-color: pink;
    transition: width linear 3s;
}

.loader {
    border: 1mm solid #f3f3f3; /* Light grey */
    border-top: 1mm solid #3498db; /* Blue */
    border-radius: 50%;
    width: 5mm;
    height: 5mm;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#loading-settings {
    position: fixed;
    top: 1mm;
    right: 1mm;
}

#appModeSwitch {
    float: right;
}

#ace_yaml_editor {
    min-height: 20cm;
    margin-bottom: 1cm;
    text-shadow: none;
    clear: both;
}
.ace_hidpi .ace_text-layer,.ace_hidpi .ace_gutter-layer,.ace_hidpi .ace_content,.ace_hidpi .ace_gutter {
    /* Firefox warns about the will-change using too much memory to use anyway, so just supress it. */
    will-change: unset;
}

section {
    padding-top: 4px;
}
section > h3 {
    padding-bottom: 3px;
}

.variable-editor {
    margin-bottom: 5mm;
}

.variable-editor .table {
    font-size: 90%;
}

.variable-col-audience, .variable-col-platform, .variable-col-operations { white-space: nowrap; }
.variable-col-audience { width: 11em; }
.variable-col-platform { width: 8em; }
.variable-col-operations { width: 0; }

.variable-editor select, .variable-editor input[type='text'] {
    padding-top: 0;
    padding-bottom: 0;
    border: thin solid var(--border-separator);
}
.variable-editor .btn-operation {
    font-weight: bold;
    font-family: monospace;
}
.variable-editor .card-title {
    display: flex;
    align-items: end;
    border-bottom: thin solid var(--border-separator);
}
.variable-editor .card-title .variable-name {
    text-transform: capitalize;
}
.variable-editor .variable-description {
    font-size: var(--font-size-dashboard);
    margin-left: auto;
    font-style: italic;
    color: var(--secondary);
}
.variable-editor button.remove-variable {
    margin-left: auto;
    color: var(--danger);
}


/* Two-way-toggle slider extras */
.two-way-toggle label.toggle-label-left {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-right: 2px;
    text-align: right;
}
.two-way-toggle .explanation {
    text-align: center;
}


.two-way-toggle label { color: var(--secondary); }
.two-way-toggle label.label-active { color: white; }

.two-way-toggle label.toggle-label-right {
    padding-left: 2px;
}
.two-way-toggle .checkbox-slider input + span::before {
    background: #3498db; /* Colour when slider is at the right position */
}
.two-way-toggle .checkbox-slider input:checked + span::before {
    background: #8f852a; /* Colour when the slider is at the left position */
}
.two-way-toggle .explanation {
    font-size: small;
    color: var(--secondary);
}
