
input {
    color: black;
}
code {
    color: inherit;
    padding: 0.2rem 0.4rem;
}

.col-form-label {
    padding-top: 0;
}

#config section {
    padding: 0.1em 0.2em;
    margin-bottom: 3em;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5d93aa+0,507e92+11,73b1e7+100&1+0,0+26 */
    background: -moz-linear-gradient(top, rgba(93,147,170,1) 0%, rgba(80,126,146,0.58) 11%, rgba(86,135,160,0) 26%, rgba(115,177,231,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(93,147,170,1) 0%,rgba(80,126,146,0.58) 11%,rgba(86,135,160,0) 26%,rgba(115,177,231,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(93,147,170,1) 0%,rgba(80,126,146,0.58) 11%,rgba(86,135,160,0) 26%,rgba(115,177,231,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5d93aa', endColorstr='#0073b1e7',GradientType=0 ); /* IE6-9 */
    border: 1px solid #477082;
}

h3 {
    margin: 0.2em 0 0.8em 0;
}

.note {
    padding: 0.4em 1em;
}

.help-block {
    color: #eee;
    font-size: 90%;
}

.own-url-suggestion {
    margin: 0.5mm;
    cursor: pointer;
}

/* Editable table stuff */
.table-editable {
    position: relative;
}
.table-editable .glyphicon {
    font-size: 20px;
}
.table-editable td {
    position: relative;
}
.table-remove {
    color: #700;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    font-size: xx-large;
}
.table-remove:hover {
    color: #f00;
}

.table-add {
    color: #03ff03;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    font-size: xx-large;
}
.table-add:hover {
    color: #68ff68;
}

.table-editable td:focus {
    background-color: white;
    color: black;
}

.table-editable td:hover {
    cursor: pointer;
}

#progressbar {
    height: 30px;
    border: 1px solid white;
    padding: 3px;
}
#progressbar div {
    width: 10px;
    height: 100%;
    background-color: pink;
    transition: width linear 3s;
}

.loader {
    border: 1mm solid #f3f3f3; /* Light grey */
    border-top: 1mm solid #3498db; /* Blue */
    border-radius: 50%;
    width: 5mm;
    height: 5mm;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#loading-settings {
    position: fixed;
    top: 1mm;
    right: 1mm;
}

#appModeSwitch {
    float: right;
}

#ace_yaml_editor {
    min-height: 20cm;
    margin-bottom: 1cm;
    text-shadow: none;
    clear: both;
}
.ace_hidpi .ace_text-layer,.ace_hidpi .ace_gutter-layer,.ace_hidpi .ace_content,.ace_hidpi .ace_gutter {
    /* Firefox warns about the will-change using too much memory to use anyway, so just supress it. */
    will-change: unset;
}