html, body {
    font-family: Noto, Ubuntu, sans-serif;
    color: white;
    background-color: #496977;
    text-shadow: 0.2ex 0.2ex 0.1ex rgba(0, 0, 0, 0.2);
}

a, a:link { color: #aef0ff; }
a:visited { color: #e6fff2; }
a:hover { color: #d0f7eb; }
a:active { color: #f7d0d2; }

a.btn-default { color: black; }

h1 img {
    width: auto;
    height: 1.1em;
    float: left;
    padding-right: 0.5ex;
}

#managerversion {
    font-size: small;
    vertical-align: top;
    float: right;
}

input {
    color: black;
}


.error {
    color: #a92a2a;
    background-color: #ffeaea;
    border-radius: 0.5ex;
    border: 2px solid #a92a2a;
    padding: 1ex;
    text-shadow: none;
}

button#refresh {
}

.panel-body { padding: 5px; }
.panel { background-color: inherit; }
.table-striped>tbody>tr:nth-of-type(odd) { background-color: #578498; }
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border-color: #6398af;
}

tr.status-awake td, tr.status-awake th { background-color: #3f9465; }
tr:nth-of-type(odd).status-awake td, tr:nth-of-type(odd).status-awake th { background-color: #3faa6e; }
tr.status-timeout td, tr.status-timeout th { background-color: #a77239; }
tr:nth-of-type(odd).status-timeout td, tr:nth-of-type(odd).status-timeout th { background-color: #d09c4a; }
tr.status-offline td, tr.status-offline th { color: #bbb; }
tr.status-testing td, tr.status-testing th { background-color: #b56b8d; }
tr:nth-of-type(odd).status-testing td, tr:nth-of-type(odd).status-testing th { background-color: #ce92ae; }

dl.dl-horizontal { margin: 0; }
.dl-horizontal dt { width: 100px; }
.dl-horizontal dd { margin-left: 120px; }

.small-last-rendered-image {
    max-width: 100%;
    max-height: 365px;
}

.imageholder {
    text-align: center;
}

span.idle-worker-name:not(:first-child)::before {
    content: ', ';
}

*[title] {
    cursor: help;
    border-bottom: 1px dashed #ddd;
}

#statusheading {
    position: relative;
}
button#downloadkick {
    position: absolute;
    top: 0.75ex;
    right: 1ex;
}

.click-to-copy {
    cursor: pointer;
    border-bottom: none;
}

.worker-id {
    white-space: nowrap;
    min-width: 8ex;
}

.worker-action {
    cursor: pointer;
    font-size: 150%;
    margin-right: 15px;
    border-bottom: none;
}
