/* The 'db' prefix stands for Dashboard. */

.dashboard {
    font-family: var(--font-family-dashboard);
    font-size: var(--font-size-dashboard);
}

.dashboard .btn-link {
    font-family: var(--font-family-dashboard);
}

.table-cell-status .arrow {
    color: var(--gray) !important;
    font-size: 1.2rem;
    position: relative;
    top: 3px;
}

.table-cell-status .arrow.immediate {
    color: var(--white) !important;
}

.worker-row {
    transition: background-color 75ms ease-in-out, color 75ms ease-in-out;
}

.worker-row:hover {
    background-color: rgba(255,255,255,0.1);
}

.worker-row.is-selected,
table.worker .is-selected+tr.details,
table.worker .is-selected+tr.details+tr.details {
    background-color: var(--table-row-background-selected);
}

.worker-row.is-selected * {color: white !important;}

/* Style when a status change is requested. */
.worker-row.is-status-requested .icon {
    animation: pulse 2s infinite alternate;
    color: white;
}

.error {
    color: #a92a2a;
    background-color: #ffeaea;
    border-radius: 0.5ex;
    border: 2px solid #a92a2a;
    padding: 1ex;
    text-shadow: none;
}

table>tbody:nth-of-type(odd) {
    background-color: var(--table-row-background-odd);
}

table.worker>tbody {
    border: none;
}

table.worker>tbody input {
    height: unset;
}

table.worker>thead {
    border-bottom: 2px solid var(--gray-dark);
    background-color: var(--gray-darker);
    color: var(--secondary);
    font-weight: initial;
}

table.worker>thead th {
    padding-bottom: 5px;
}

table.worker tr.details {
    color: var(--body-color);
    background-color: rgba(0,0,0,0.2)
}

table.worker tr.details:last-child {
    border-bottom: 2px solid var(--gray-darker);
}

table.worker tr.details td,
table.worker tr.details th {
    padding-bottom: 5px;
    padding-top: 5px;
}

table.worker td, table.worker th {
    padding-top: 0;
    padding-bottom: 0;
    border: none;
}

table.worker td label {
    margin: initial;
    vertical-align: baseline-middle;
    vertical-align: -moz-baseline-middle;
    vertical-align: -webkit-baseline-middle;
}

span.idle-worker-name:not(:first-child)::before {
    content: ', ';
}

*[title] {
    cursor: help;
}

.click-to-copy {
    cursor: pointer;
    border-bottom: none;
}

.worker-id {
    white-space: nowrap;
    min-width: 8ex;
}

.worker-action {
    cursor: pointer;
}

.worker-action.forget-blacklist-entry {
    float: right;
}

.worker .btn-link {
    color: currentColor;
}

td.col-sched-edit-actions {
    text-align: right;
}

.btn-schedule-active {
    color: #fff;
    border-color: #28a745;
}
.btn-schedule-inactive {
    color: var(--light);
    border-color:  var(--gray);
}

.worker-row .implied,
.worker-row .no-task {
    color: var(--gray);
}

.worker-row .implied::before {content: '['; position: relative; top: -1px;}
.worker-row .implied::after {content: ']'; position: relative; top: -1px;}
