/* The 'db' prefix stands for Dashboard. */

.dashboard {
    font-family: var(--font-family-dashboard);
    font-size: var(--font-size-dashboard);
}

.dashboard .btn-link {
    font-family: var(--font-family-dashboard);
}

.error {
    color: #a92a2a;
    background-color: #ffeaea;
    border-radius: 0.5ex;
    border: 2px solid #a92a2a;
    padding: 1ex;
    text-shadow: none;
}

dl.row dd { margin-bottom: 0 }

table>tbody:nth-of-type(odd) {
    background-color: var(--table-row-odd-background);
}

table.worker>thead, table.worker>tbody {
    border: none;
}
table.worker td, table.worker th {
    padding-top: 0;
    padding-bottom: 0;
    border: none;
}
table.worker td label {
    margin: 2px;
}


.imageholder {
    text-align: center;
}

span.idle-worker-name:not(:first-child)::before {
    content: ', ';
}

*[title] {
    cursor: help;
}
a[title] {
    cursor: pointer;
}

.click-to-copy {
    cursor: pointer;
    border-bottom: none;
}

.worker-id {
    white-space: nowrap;
    min-width: 8ex;
}

.worker-action {
    cursor: pointer;
}

.worker-action.forget-worker, .worker-action.forget-blacklist-entry {
    font-size: 85%;
    vertical-align: super;
    color: #f66;
    padding: 3px;
    margin-right: 5px;
}

.worker-action.forget-blacklist-entry {
    float: right;
}

.worker .btn-link {
    color: inherit;
    float: right;
}

.flash-on {
	background-color: #b8f7d3 !important;
	border-color: #b8f7d3 !important;
    color: #3f9465 !important;
    transition: all 0.05s ease-in;
}

.flash-off {
	transition: all 0.2s ease-out;
}

td.col-sched-edit-actions {
    text-align: right;
}

.btn-schedule-active {
    color: #fff;
    border-color: #28a745;
}
.btn-schedule-inactive {
    color: var(--light);
    border-color:  var(--gray);
}

.worker-row .implied::before {
    content: '(';
}
.worker-row .implied::after {
    content: ')';
}
