:root {
    /* Own variables. */
    --body-color: var(--light);
    --body-background: var(--gray-dark);
    --border-separator: #404040;
    --gray-darker: #222;

    --font-size-small: 11px;

    --font-family-dashboard: var(--font-family-monospace);
    --font-size-dashboard: 12px;

    --padding-sm: 5px;

    --status-awake: var(--success);
    --status-timeout: var(--info);
    --status-offline: var(--gray);
    --status-testing: var(--warning);
    --status-error: var(--danger);

    --table-row-background: var(--gray-dark);
    --table-row-odd-background: #393939;


    /* Bootstrap overrides. */
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --gray-dark: #303030;
    --secondary: #bbb;
}

html, body {
    font-family: var(--font-family-sans-serif);
    color: var(--light);
    background-color: var(--body-background);
}

select, input, button {
    font-family: var(--font-family-sans-serif);
    font-size: initial;
}

a, a:link, a:visited { color: var(--light);}
a:hover, a:active { color: var(--primary);}

.btn {white-space: nowrap}
.btn-link.btn-sm,
.form-control-sm { font-size: var(--font-size-small);}

/* Status Indicators. Small circle with the color of the status. */
.status-indicator {
    background-color: var(--gray);
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    width: 10px;
}

.status-indicator.status-awake { background-color: var(--status-awake); }
.status-indicator.status-timeout { background-color: var(--status-timeout); }
.status-indicator.status-offline { background-color: var(--status-offline); }
.status-indicator.status-testing { background-color: var(--status-testing); }
.status-indicator.status-error { background-color: var(--status-error); }

/* Table Row Statuses. */
tbody.status-timeout .table-cell-status { color: var(--status-timeout); }
tbody.status-offline { color: var(--status-offline); }
tbody.status-testing .table-cell-status { color: var(--status-testing); }
tbody.status-error .table-cell-status { color: var(--status-error); }


/* Bootstrap overrides. */
hr { border-color: var(--border-separator); border-width: 2px;}
.table { color: var(--body-color);}
.table td, .table th { vertical-align: middle; }
.text-secondary { color: var(--secondary) !important; }
.btn-outline-secondary { border-color: var(--secondary) !important; color: var(--secondary) !important; }
.border-bottom, .border-top, .border-left, .border-right { border-color: var(--border-separator) !important; border-width: 2px !important;}

.form-control,
.form-control:focus,
.form-control:disabled,
.form-control[readonly],
.input-group-text {
    background-color: var(--gray-darker);
    border: none;
    color: var(--body-color);
}

.form-control:disabled, .form-control[readonly] {
    opacity: .5;
}

.form-control {
    border-radius: 6px;
}

.form-control:focus {
    box-shadow: 0 0 0 2px var(--primary);
}

.input-group-append .input-group-text {color: var(--gray); cursor: pointer; padding: initial;}
.input-group-append .input-group-text:hover {color: var(--white);}

.input-icon {font-size: 1.3rem;}

/*
 * Extra utility classes.
 * Follow Bootstrap 4 naming style as much as possible.
 */
.bg-darker {
    background-color: var(--gray-darker);
}

.img-icon {
    height: 16px;
    width: 16px;
}

.text-small {
    font-size: var(--font-size-small);
}

.white-space-nowrap {
    white-space: nowrap;
}
