<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Flamenco Manager {{.Version}}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/toastr/toastr.min.css">
    <link rel='stylesheet' href='/static/dashboard.css'>

    <script src="/static/jquery.min.js"></script>
    <script src="/static/toastr/toastr.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js" async></script>
    <script src="/static/clipboard.min.js" async></script>
    <script src="/static/dashboard.js" async defer></script>
    <script src="/static/imagewatch.js" async></script>
</head>
<body>
<div class="container theme-showcase" role="main">

    <header class='pageheader'><h1><img src='/static/flamenco.png' alt='Flamenco logo'> Flamenco Manager <span id='managerversion'>{{ .Version}}</span></h1></header>
    <section class="row">
        <div class='col-md-5'>
            <div class="panel panel-default">
                <div class="panel-heading" id='statusheading'>
                    <h3 class="panel-title">Status</h3>
                    <button id='downloadkick'>Kick task downloader</button>
                </div>
                <div class="panel-body">
                    <div id='status'></div>
                </div>
            </div>
        </div>
        <div class='col-md-7'>
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title">Last rendered image</h3></div>
                <div class="panel-body imageholder">
                    <a href='/latest-image'>
                    <img id='last_rendered_image'
                         class='small-last-rendered-image'
                         alt='Last-rendered image'
                         src='/static/latest-image.jpg'>
                     </a>
                </div>
            </div>
        </div>
    </section>

    <section class="row table-responsive">
        <table class="table table-condensed table-striped">
            <thead>
                <tr>
                    <th>Actions</th>
                    <th>Nickname</th>
                    <th>Status</th>
                    <th>Cur/last Task</th>
                    <th>Task Log</th>
                    <th>Last Seen</th>
                    <th>ID</th>
                    <th>Address</th>
                    <th>Software</th>
                </tr>
            </thead>
            <tbody id='workers'>
            </tbody>
        </table>
    </section>
</div>
</body>
</html>
