{{define "extrahead"}}
    <script src='/static/vuejs/vue{{if ne .Config.Mode "develop"}}.min{{end}}.js'></script>
    <script src="/static/clipboard.min.js" async></script>
    <script src="/static/imagewatch.js" async></script>

    {{ .VueTemplates }}
{{end}}
{{define "body"}}
<div role="main" id='vue_app' class="dashboard">
    <page-header :serverinfo="serverinfo"></page-header>
    <div class="container-fluid">
        <section class="row">
            <div class='col-xl-8 col-lg-12'>
                <section class="table-responsive">
                    <worker-table
                        :workers="current_workers"
                        :server="serverinfo.server"
                        :selected_worker_ids="selected_worker_ids"
                        :all_workers_selected="all_workers_selected"
                        @worker-selected="onWorkerSelected"
                        @toggle-all-workers-selected="toggleSelectAllWorkers"
                    ></worker-table>
                </section>
            </div>
            <div class='col-xl-4 col-lg-12 py-3'>
                <a href='/latest-image' title="Last-rendered image">
                    <img id='last_rendered_image'
                        class=' img-fluid'
                        alt='Last-rendered image'
                        src='/latest-image.jpg'>
                </a>

                <hr/>

                <status id='status'
                    :serverinfo="serverinfo"
                    :idle_workers="idle_workers"
                    :errormsg="errormsg"
                    :dynamic_pools="dynamic_pools">
                </status>
            </div>
        </section>
    </div>

    <!-- Bootstrap modals -->
    <dynamic-pool-resize @pool-resize-requested="loadWorkersSoon"></dynamic-pool-resize>
</div>
<script src="/static/dashboard.js"></script>
{{end}}
