{{define "layout"}}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{block "title" .}}Flamenco Manager{{end}}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/toastr/toastr.min.css">
    <link rel='stylesheet' href='/static/main.css'>
    <link rel='stylesheet' href='/static/dashboard.css'>

    <link rel='icon' type='image/png' href='/static/flamenco.png'>

    <script src="/static/jquery.min.js"></script>
    <script src="/static/js.cookie.min.js"></script>
    <script src="/static/jwtauth.js"></script>
    <script src="/static/toastr/toastr.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js" async></script>
    <script src="/static/restart.js" async></script>

    {{block "extrahead" .}}{{ end }}
</head>
<body>
    {{block "body" .}}

    <header class="d-flex align-items-center p-1 bg-darker text-small">
        <img class="img-icon mx-2" src='/static/flamenco.png' alt='Flamenco logo'>
        <span>
            Flamenco Manager
        </span>
    </header>

    <section class='container'>
        <div class='row'>
            <div class='col-lg-8 mx-auto'>
                {{block "simplepage" .}}{{end}}
            </div>
        </div>
    </section>
    {{end}}
</body>
</html>
{{end}}
