{{define "layout"}}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{block "title" .}}Flamenco Manager{{end}}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/toastr/toastr.min.css">
    <link rel='stylesheet' href='/static/main.css'>
    <link rel='stylesheet' href='/static/dashboard.css'>

    <link rel='icon' type='image/png' href='/static/flamenco.png'>

    <script src="/static/jquery.min.js"></script>
    <script src="/static/js.cookie.min.js"></script>
    <script src="/static/jwtauth.js"></script>
    <script src="/static/toastr/toastr.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js" async></script>
    <script src="/static/restart.js" async></script>

    {{block "extrahead" .}}{{ end }}
</head>
<body>
    {{block "body" .}}
    <header class='masthead'>
        <div class='intro-body'>
            <div class='container'>
                <div class='row'>
                    <div class='col-lg-8 mx-auto'>
                        <h1 class='brand-heading'><img src='/static/flamenco.png' alt='Flamenco logo'> Flamenco Manager</h1>
                        <p class='intro-text'>Your own render farm manager</p>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section class='container'>
        <div class='row'>
            <div class='col-lg-8 mx-auto'>
                {{block "simplepage" .}}{{end}}
            </div>
        </div>
    </section>
    {{end}}
</body>
</html>
{{end}}
