{{template "layout" .}}

{{define "simplepage"}}
<div id='restart'>
    <h2>Restart Flamenco Manager to Web Setup</h2>
    <p>Are you sure you want to restart Flamenco Manager into setup mode?
    This will disable normal Flamenco Manager operations and enable the web setup.</p>

    <div class='row' style='margin: 2em'>
        <div class='col-md-4'><a href="/" class='btn btn-success'>« Back to dashboard</a></div>
        <div class='col-md-offset-4 col-md-4' style='text-align: right'><button class='btn btn-danger'
            onclick="restart(window.location.href)">Restart to Web Setup</button></div>
    </div>
</div>
{{end}}
