html, body {
    font-family: Noto, Ubuntu, sans-serif;
    color: black;
    background-color: white;

    text-shadow: 0.2ex 0.2ex 0.1ex rgba(0, 0, 0, 0.2);
}

.error {
    color: #800;
}

button#refresh {
}

.panel-body { padding: 5px; }

dl.dl-horizontal { margin: 0; }
.dl-horizontal dt { width: 100px; }
.dl-horizontal dd { margin-left: 120px; }

#last_rendered_image {
    width: 100%;
}

.imageholder {
    text-align: center;
}

span.idle-worker-name:not(:first-child)::before {
    content: ', ';
}

*[title] {
    cursor: help;
    border-bottom: 1px dashed #ddd;
}

#statusheading {
    position: relative;
}
button#downloadkick {
    position: absolute;
    top: 0.75ex;
    right: 1ex;
}

.click-to-copy {
    cursor: pointer;
    border-bottom: none;
}

.worker-id {
    white-space: nowrap;
    min-width: 8ex;
}
