html, body {
    font-family: Noto, Ubuntu, sans-serif;
    color: black;
    background-color: white;

    text-shadow: 0.2ex 0.2ex 0.1ex rgba(0, 0, 0, 0.2);
}

.error {
    color: #800;
}

button#refresh {
}

.panel-body { padding: 5px; }

dl.dl-horizontal { margin: 0; }
.dl-horizontal dt { width: 100px; }
.dl-horizontal dd { margin-left: 120px; }
